/* add your CSS here */
body {
    
    font-size: x-large;
    color: #fff;
}

img {
    width: 300px;
    border: 2px solid blue;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

li {
    list-style: none;
}
li span {
    font-weight: bold;
}
.border {
    border: 2px solid blue;
    width: 290px;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 10px;
    padding: 12px;
}
#dog_name {
    margin-left: 40%;
}

.container {
    border: 3px solid black;
    border-radius: 5px;
    background-image: linear-gradient(rgb(238, 153, 153),rgb(214, 131, 214),rgb(164, 164, 199));
    width: 450px;
    margin-left: 700px;
    box-shadow: 5px 10px 18px #888888;
}